<div>

    <div class="row justify-content-md-center">
        <div class="col-md-4">

            <h1> Change Password</h1>

            <!--<p class="errormsg text-center">{{serverError}}</p>-->
            <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(user)" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.oldPassword" name="oldPassword" class="form-control input-underline input-lg" id="oldPassword" placeholder="old password" #oldPassword="ngModel" required >
                        <span class="errormsgCG" *ngIf="oldPassword.dirty || oldPassword.touched">
                            <b *ngIf="oldPassword.errors?.required">Old password is required</b>
                        </span>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.newPassword" name="newPassword" class="form-control input-underline input-lg" id="loginPassword" placeholder="new password" #newPassword="ngModel" required minlength = "8" maxlength = "32" >
                        <span class="errormsgCG" *ngIf="newPassword.dirty || newPassword.touched">
                            <b *ngIf="newPassword.errors?.required">Password is required</b>
                            <b *ngIf="newPassword.errors?.minlength"> Password must be of atleast 8 character and upto 32 character. </b>
                            <b *ngIf="newPassword.errors?.maxlength"> Password must be less than 32 character. </b>
                            <b *ngIf="user.oldPassword == user.newPassword && !newPassword.errors?.required"> New password and old password cannot be same </b>
                        </span>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.newPasswordRe" name="newPasswordRe" class="form-control input-underline input-lg" id="newPasswordRe" placeholder="re-password" #newPasswordRe="ngModel" required minlength = "8" maxlength = "32">
                        <span class="errormsgCG" *ngIf="newPasswordRe.dirty || newPasswordRe.touched">
                            <b *ngIf="newPasswordRe.errors?.required">Password is required</b>
                            <b *ngIf="user.newPassword != user.newPasswordRe && !newPasswordRe.errors?.required"> New password and Re-password should be same </b>
                        </span>
                    </div>
                </div>

                <button class="btn rounded-btn"  type="submit" [disabled]="!changePasswordForm.form.valid || (user.newPassword != user.newPasswordRe) || (user.oldPassword == user.newPassword)"> Submit </button>

            </form>
        </div>
    </div>
</div>
