$topnav-background-color: #222;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    // background-image: url('assets/images/backbanner.jpg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    text-align: center;
    color: #fff;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border: 1px solid #ced4da;
        //border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #444;
        border-radius: 0;
    }
    .input-underline:focus {
        //border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        //color: rgba(255, 255, 255, 0.8);
        //background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
        border: 0px solid rgb(80, 144, 193);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;background: #FD3101;
    text-transform: uppercase;
        color: #fff;
        margin-bottom: 25px;
        border-radius: 3px;
    }
    //.rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
        border-radius: 0;
        border: 0px solid rgb(80, 144, 193);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
        background: #2283c5;
        color: #fff;
        margin-bottom: 25px;
        border-radius: 3px;
    }

    h1 {
       font-weight: 300;
        margin-top: 10px;
        margin-bottom: 20px!important;
        font-size: 18px;
        color: #000000!important;
    }
    h1 span{
        color: #000000!important;
    }

    h1 img {
        display: block;
        text-align: center;
        margin: 10px auto;
    }



    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: #ccc  !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #ccc  !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #ccc  !important;
        }

        input:-ms-input-placeholder {
            color: #ccc !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        //-webkit-border-radius: 50%;
        //border-radius: 50%;
        //border: 2px solid #fff;
    }

    .errormsg{
        text-align: left;
        display: block;
        color: #ec0101;
        padding: 2px;font-size: 13px
    }
    .forgetpassworddiv{
        background: #000000;
        border-radius: 0 0 5px 5px;
        padding: 15px 20px;
        text-align: center!important;
    }
    .form-contentdiv{
            padding: 20px 0;
    }
    .logintext {
        color: #000000;
        padding-top: 21px;
        display: inline-block;
        font-size: 20px;
    }
    .forgetpasswordtext{
        color: #c07f38;
        text-align: center!important;
    }

}
