<div>
    <div class="card-header header-pagetitle">
    Comments 
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Comments</button>
    </div>
    <div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="row form-group marginhead">
                    <div class="col-md-12">
                        <input type="text" name="searchUser" class="form-control input-underline col-md-6" id="searchUser" placeholder="Search" >
                    </div>

                <div class="card-body table-responsive">
                    <table class="table" >
                        <thead>
                        <tr>
                            <!-- <th><input type="checkbox" [(ngModel)]="selectedAllPost" (change)="selectAll(selectedAllPost)"/> select All</th> -->
                            <th><input type="checkbox"/> select All</th>
                            <th>Author</th>
                            <th>Commnet</th>
                            <th>In Response to</th>
                            <th>Submitted On</th>
                            <th>Status</th>
                            <th style="width: 165px!important">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="multipleSelectedUser(user.id,user.selected)" ></td> -->
                                <td><input type="checkbox"></td>
                                <td>BsaiieraOt</td>
                                <td>Awesome Sensei. Well taught karate with a great team. Very humble Dojo and family oriented. I would highly recommend this Dojo!!!!</td>
                                <th>automotive</th>
                                <td>2018/08/21 at 8:36 pm</td>
                                <td>Approved</td>
                                <th> <button type="button" class="btn btn-sm btn-success margin-inline"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-sm btn-info margin-inline"><i class="fa fa-eye"></i></button>
                                    <button type="button" class="btn btn-sm btn-danger margin-inline"><i class="fa fa-trash"></i></button>
                                    <button type="button" class="btn btn-sm btn-warning margin-inline"><i class="fa fa-recycle"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <!-- <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="multipleSelectedUser(user.id,user.selected)" ></td> -->
                                <td><input type="checkbox"></td>
                                <td>BsaiieraOt</td>
                                <td>Awesome Sensei. Well taught karate with a great team. Very humble Dojo and family oriented. I would highly recommend this Dojo!!!!</td>
                                <th>automotive</th>
                                <td>2018/08/21 at 8:36 pm</td>
                                <td>Approved</td>
                                <th> <button type="button" class="btn btn-sm btn-success margin-inline"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-sm btn-info margin-inline"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-danger margin-inline"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-sm btn-warning margin-inline"><i class="fa fa-recycle"></i></button>
                            </th>
                            </tr>
                            <tr>
                            <!-- <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="multipleSelectedUser(user.id,user.selected)" ></td> -->
                            <td><input type="checkbox"></td>
                            <td>BsaiieraOt</td>
                            <td>Awesome Sensei. Well taught karate with a great team. Very humble Dojo and family oriented. I would highly recommend this Dojo!!!!</td>
                            <th>automotive</th>
                            <td>2018/08/21 at 8:36 pm</td>
                            <td>Approved</td>
                            <th> <button type="button" class="btn btn-sm btn-success margin-inline"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-sm btn-info margin-inline"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-danger margin-inline"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-sm btn-warning margin-inline"><i class="fa fa-recycle"></i></button>
                            </th>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="multipleSelectedUser(user.id,user.selected)" ></td> -->
                            <td><input type="checkbox"></td>
                            <td>BsaiieraOt</td>
                            <td>Awesome Sensei. Well taught karate with a great team. Very humble Dojo and family oriented. I would highly recommend this Dojo!!!!</td>
                            <th>automotive</th>
                            <td>2018/08/21 at 8:36 pm</td>
                            <td>Approved</td>
                            <th> <button type="button" class="btn btn-sm btn-success margin-inline"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-sm btn-info margin-inline"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-danger margin-inline"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-sm btn-warning margin-inline"><i class="fa fa-recycle"></i></button>
                            </th>
                        </tr> 
                        <tr>
                            <!-- <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="multipleSelectedUser(user.id,user.selected)" ></td> -->
                            <td><input type="checkbox"></td>
                            <td>BsaiieraOt</td>
                            <td>Awesome Sensei. Well taught karate with a great team. Very humble Dojo and family oriented. I would highly recommend this Dojo!!!!</td>
                            <th>automotive</th>
                            <td>2018/08/21 at 8:36 pm</td>
                            <td>Approved</td>
                            <th> <button type="button" class="btn btn-sm btn-success margin-inline"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-sm btn-info margin-inline"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-danger margin-inline"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-sm btn-warning margin-inline"><i class="fa fa-recycle"></i></button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-12 col-lg-12">
        <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalUsers" [(page)]="currentPage" [(pageSize)]="pageSize" [boundaryLinks]="true" [(maxSize)]="maxSize" (pageChange)="pageChange(currentPage,pageSize)"></ngb-pagination> -->
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </div>
    </div>
</div>    

<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Question</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="dateOfBirth">Question</label>
                <div class="input-group">
                <input type="text" name="question" class="form-control" placeholder="Question">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Answer</label>
                <div class="input-group">
                <textarea name="answer" class="form-control" placeholder="Answer">  </textarea>
                </div>
            </div>
            
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>
</ng-template>

      


