// shared css for the login and signup page
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
    color: #000;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #000000;
    }
    .btn {
        color: white;
        background-color: #FD3101;
    }
    .form-container {
        width: 100%;
        a.forgetPassword {
            color: #000;
            text-decoration: underline;
        }
        .errormsg {
            color: #F28773;
            position: relative;
        }
    }
}
